nav {
    font-family: 'Source Sans Pro';
    font-style: normal;

    color: #FFFFFF;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding-top: 20px;


}

.navigation {
    overflow: hidden;
    background: transparent;
    max-height: inherit;
}

nav>a,
li>a {
    text-decoration: none;
    color: #FFFFFF;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    text-transform: uppercase;
}

li>a {

    font-weight: 400;
    font-size: 14px;

    letter-spacing: 0.2em;
}

nav>a {

    font-weight: 600;
    font-size: 20px;

    text-align: center;


    letter-spacing: 0.1em;
}

ul {
    display: none;
}

nav>button {
    font-size: 25px;
    grid-column: 4 / 5;
    width: 30px;
    height: 30px;
    justify-self: center;
    opacity: 100;

    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

}

.grid_li:nth-child(1) {
    grid-column: 1 / 2;
}

.grid_li:nth-child(2) {
    grid-column: 2 / 3;
}

.grid_li:nth-child(3) {
    grid-column: 3 / 4;
}

.grid_li:nth-child(4) {
    grid-column: 4 / 5;
}


@media only screen and (min-width: 600px) {
    ul {
        list-style: none;
        grid-column: 2 / 4;
        margin-top: 0%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 10px;
    }

    nav>button {
        display: none;
    }
}