.headline {
    position: static;
    background-image: url(../assets/back_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: aliceblue;
}


article h2 {
    font-size: 48px;
}

article h3 {
    font-family: Source Sans Pro;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}