.grid_container_footer {
    background-color: #464547;
    position: static;

    display: grid;
    grid-template-columns: 1fr;

    padding: 2.5em 3em 0em 3em;
    text-align: center;
}

footer {
    color: #FFFFFF66;
    
}

footer a {
    text-decoration: none;
    color: #FFFFFF66;
}

.footer_1 {
    color: #FFFFFF;
    text-transform: uppercase;
    grid-row: 1 / 2;
}

.footer_2 {
    grid-row: 2 / 3;
}

.footer_3 {
    grid-row: 3 / 4;
}

@media only screen and (min-width: 600px) {

    .grid_container_footer {   
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        text-align: left;
    }

    .footer_1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .footer_2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .footer_3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    }